<a href="https://colab.research.google.com/github/Harman17-CS/Linked_list_chapter_5/blob/main/PANDAS_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
xl = pd.ExcelFile("/content/TableauSalesData.xlsx")
SalesData = xl.parse("Orders")

In [ ]:
display(SalesData.head(10))

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,4919,CA-2017-160304,2017-01-02,2017-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,20877,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.940,3,0.0,38.2668
1,4920,CA-2017-160304,2017-01-02,2017-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,20877,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.980,2,0.0,67.2742
2,3074,CA-2017-125206,2017-01-03,2017-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,90045,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.460,2,0.0,28.6150
3,8604,US-2017-116365,2017-01-03,2017-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,78207,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.080,2,0.2,-5.2640
4,8605,US-2017-116365,2017-01-03,2017-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,78207,Central,TEC-AC-10002942,Technology,Accessories,WD My Passport Ultra 1TB Portable External Har...,165.600,3,0.2,-6.2100
5,8606,US-2017-116365,2017-01-03,2017-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,78207,Central,TEC-PH-10002890,Technology,Phones,AT&T 17929 Lendline Telephone,180.960,5,0.2,13.5720
6,9494,CA-2017-105207,2017-01-03,2017-01-08,Standard Class,BO-11350,Bill Overfelt,Corporate,United States,Broken Arrow,...,74012,Central,FUR-TA-10000617,Furniture,Tables,Hon Practical Foundations 30 x 60 Training Tab...,1592.850,7,0.0,350.4270
7,9495,CA-2017-105207,2017-01-03,2017-01-08,Standard Class,BO-11350,Bill Overfelt,Corporate,United States,Broken Arrow,...,74012,Central,OFF-BI-10004364,Office Supplies,Binders,Storex Dura Pro Binders,11.880,2,0.0,5.3460
8,2898,US-2017-164630,2017-01-04,2017-01-09,Standard Class,EB-13975,Erica Bern,Corporate,United States,Charlotte,...,28205,South,TEC-CO-10000971,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,959.968,4,0.2,119.9960
9,5868,CA-2017-158211,2017-01-04,2017-01-08,Standard Class,BP-11185,Ben Peterman,Corporate,United States,Philadelphia,...,19143,East,OFF-AR-10004078,Office Supplies,Art,Newell 312,4.672,1,0.2,0.5840

In [ ]:
RegionData = SalesData[["Region", "Sales", "Profit"]].groupby(by="Region").sum().sort_values(by="Sales", ascending = False)
display(RegionData)
display('Table 1: Least profitable Regions')

               Sales       Profit
Region
West     725457.8245  108418.4489
East     678781.2400   91522.7800
Central  501239.8908   39706.3625
South    391721.9050   46749.4303

'Table 1: Least profitable Regions'

Table 1: Least profitable Regions
*italicized text*

In [ ]:
SalesTrends = SalesData[["Category", "Region", "Sales", "Profit","Segment"]]
SouthTrends = SalesTrends.loc[(SalesTrends["Region"]=="South")].groupby(by= "Category").sum().sort_values(by="Sales",ascending = True)
display(SouthTrends)

                      Sales      Profit
Category
Furniture        117298.684   6771.2061
Office Supplies  125651.313  19986.3928
Technology       148771.908  19991.8314

In [ ]:
SouthCategory= SalesData[["Category","Sub-Category","Region", "Sales","Profit"]]
SouthFurniture = SouthCategory.loc[(SouthCategory["Category"]=="Furniture")& (SouthCategory["Region"]=="South")]
TableProf = SouthFurniture.groupby(["Category", "Sub-Category"]).sum().sort_values(by="Profit", ascending = False)
display(TableProf)

                            Sales     Profit
Category  Sub-Category
Furniture Chairs        45176.446  6612.0893
          Furnishings   17306.684  3442.6829
          Bookcases     10899.362  1339.4918
          Tables        43916.192 -4623.0579

Above we can see that the South Region has the least amount of sales, now we need to check if they are ordering, what kind of discounts we are giving, and the shipping rate.We need to break it down by state. First we will breakdown the south region by Sub-Category and see what are the strongest and weakest items.

In [ ]:
SegmentSales = SalesData[["Segment","Region" ,"State","Sub-Category","Sales", "Profit"]]
SouthSegment = SegmentSales.loc[(SegmentSales["Region"]=="South") & (SegmentSales["Sub-Category"]=="Tables")]
SegmentProf = SouthSegment.groupby(by="State").sum().sort_values(by="Profit", ascending = False)
display(SegmentProf)
print(" Table 2: Southern Region States by")
print("              Sales and Profit     ")

                    Sales     Profit
State
Virginia        14042.470  2538.6863
Alabama          2376.460   556.0730
Mississippi      2516.060   411.1676
Louisiana        1590.500   368.3944
Kentucky          842.940   160.1586
Georgia           864.740   137.9470
Arkansas          301.960    45.2940
Florida          5484.974 -2493.1111
Tennessee        6214.356 -2663.4138
North Carolina   9681.732 -3684.2539

 Table 2: Southern Region States by
              Sales and Profit

In [ ]:
SubCatProfSales = SalesData[["Region", "Category","Sub-Category", "Sales", "Profit", "Ship Mode"]]
SouthProfSales = SubCatProfSales.loc[(SubCatProfSales["Region"]=="South") & (SubCatProfSales["Sub-Category"]=="Tables")]
TotalSouthProfSales = SouthProfSales.groupby(["Ship Mode", "Sub-Category"]).sum().sort_values(by="Ship Mode", ascending = False)
display(TotalSouthProfSales)

                                  Sales     Profit
Ship Mode      Sub-Category
Standard Class Tables        23720.2595 -2661.6425
Second Class   Tables         8280.1785 -1903.4873
Same Day       Tables          630.0240  -199.5076
First Class    Tables        11285.7300   141.5795

In [ ]:
SegmentSales = SalesData[["Segment","Region" ,"State","Sub-Category", "Ship Mode", "Profit", "Sales"]]
SouthSegment = SegmentSales.loc[(SegmentSales["State"]=="North Carolina") & (SegmentSales["Sub-Category"]=="Tables")]
SegmentProf = SouthSegment.groupby(["State","Ship Mode"]).sum().sort_values(by="Profit", ascending = True)
display(SegmentProf)

                                  Profit     Sales
State          Ship Mode
North Carolina Second Class   -2154.4124  5173.944
               Standard Class -1138.2871  3354.000
               Same Day        -199.5076   630.024
               First Class     -192.0468   523.764

In [ ]:
SegmentSales = SalesData[["Segment","Region" ,"State","Sub-Category", "Ship Mode", "Profit", "Sales", "Discount"]]
SouthSegment = SegmentSales.loc[(SegmentSales["State"]=="North Carolina") & (SegmentSales["Sub-Category"]=="Tables")]
SegmentProf = SouthSegment.groupby(["State","Ship Mode"]).sum().sort_values(by="Discount")
display(SegmentProf)

                                  Profit     Sales  Discount
State          Ship Mode
North Carolina First Class     -192.0468   523.764       0.4
               Same Day        -199.5076   630.024       0.4
               Second Class   -2154.4124  5173.944       0.8
               Standard Class -1138.2871  3354.000       1.6

In [ ]:
NorCarTables = SalesData[["State", "Profit", "Discount"]]
NorCarState = NorCarTables.loc[(NorCarTables["State"]=="North Carolina")]
TotalAveDiscount = NorCarState.groupby("State").agg({"Profit":'sum' , "Discount":'mean'})
display (TotalAveDiscount)

                   Profit  Discount
State
North Carolina -7490.9122  0.283534

In [ ]:
SegmentSales = SalesData.loc[SalesData["Sub-Category"]=="Tables"]
SegmentSalesYear = SegmentSales.copy()
SegmentSalesYear["Year"] = SegmentSalesYear["Order Date"].dt.year
Years = SegmentSalesYear.Year.unique()
SegmentTableYear = SegmentSalesYear[["State", "Year", "Profit", "Sales", "Discount"]]
StateTableYear = SegmentTableYear.loc[SegmentTableYear["State"]=="North Carolina"]
for year in Years:
  OneYear = StateTableYear.loc[StateTableYear["Year"]==year]
  NoYear = OneYear[[ "Discount", "Profit", "Sales"]]
  YearlyDiscount = StateTableYear.groupby(by="State").mean().sort_values(by="Profit")
  print("\nTable Discounts for the year " + str(year) + " in North Carolina")
  display(YearlyDiscount)
  display("*"*40)

Table Discounts for the year 2017 in North Carolina

                  Year      Profit      Sales  Discount
State
North Carolina  2018.0 -460.531738  1210.2165       0.4

'****************************************'

Table Discounts for the year 2018 in North Carolina

                  Year      Profit      Sales  Discount
State
North Carolina  2018.0 -460.531738  1210.2165       0.4

'****************************************'

Table Discounts for the year 2019 in North Carolina

                  Year      Profit      Sales  Discount
State
North Carolina  2018.0 -460.531738  1210.2165       0.4

'****************************************'

Table Discounts for the year 2020 in North Carolina

                  Year      Profit      Sales  Discount
State
North Carolina  2018.0 -460.531738  1210.2165       0.4

'****************************************'

In [ ]:
SegmentSales = SalesData.loc[SalesData["Sub-Category"]=="Tables"]
SegmentSalesMonth = SegmentSales.copy()
SegmentSalesMonth["Month"] = SegmentSalesMonth["Order Date"].dt.month
Months = SegmentSalesMonth.Month.unique()
SegmentTableMonth = SegmentSalesMonth[["Sub-Category", "Month", "Sales", "Profit", "Discount"]]
for month in Months:
  OneMonth= SegmentTableMonth.loc[SegmentTableMonth["Sub-Category"]=="Tables"]
  NoMonth = SegmentTableMonth[[ "Sub-Category", "Sales","Month","Profit", "Discount"]]
  MonthlyDiscount = NoMonth.groupby(["Sub-Category","Month"]).mean().sort_values(by="Month",ascending = True)
  display(MonthlyDiscount)
  print("Table 3: Average Discount provided for each month")

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month

                         Sales      Profit  Discount
Sub-Category Month
Tables       1      842.468615 -207.593708  0.269231
             2      527.210375  -69.424375  0.300000
             3      704.707792  -49.985800  0.250000
             4      495.657800  -71.884185  0.272500
             5      546.370059  -22.087994  0.244118
             6      630.961269  -42.002038  0.250000
             7      534.875053  -36.836937  0.257895
             8      603.182214  -43.613071  0.278571
             9      577.233294  -28.694568  0.260294
             10     518.536833 -116.939221  0.291026
             11     771.685477  -47.068995  0.237209
             12     816.526208  -18.441596  0.255208

Table 3: Average Discount provided for each month